/*selecting what to customize by using id*/
#compliment{color: rgb(207, 14, 14);}
body{
 /* background-color: rgb(87, 104, 103);*/

  /*transparancey of the page*/
  opacity: 1;

  background-image: url("https://i.pinimg.com/564x/c3/0b/a6/c30ba669e392bf1a34e0361d9981ac77.jpg");
  background-position: top left;


}
#JS{
  color: brown;
  margin-left: 450px;
  height: 90px;
  width: 50px;

}
#gpa{
  border-style: inset;
  border-radius: 20px;
  outline-style: groove;
  outline-offset: 1px;
}

#text{
  text-decoration-style: dotted;
  text-decoration-color: green;
  text-decoration-thickness: 10px;
  text-decoration-line: underline;
}

table, th, td{
  border: 1px solid;
  width: 50%;
  border-collapse: collapse;
  
}
tr:hover{
  background-color: aquamarine;
}
.dropdownbutton{

  cursor: pointer;
  border: none;
  padding: 10px;
  background-color: aqua;
  border-radius: 10px;
}
.dropdown-menu{
    display: none;
  position: absolute;
  background-color: rgb(209, 174, 130);
  min-width: 150px;

}
.dropdown-menu a{
  display: block;
  text-decoration: none;
  
}
.dropdown-menu a:hover{
  background-color: cadetblue;
}
.dropdown:hover .dropdownbutton{
  display: black;
}